.frame {
  position: relative;
  width: 400px;
  height: 60px;
  overflow: hidden;
  border: 1px solid var(--hover-color);
  border-radius: 50px;
  color: var(--dafault-color);
  cursor: pointer;
  background-color: var(--dafault-color);
  isolation: isolate;
}
.background {
  position: absolute;
  inset: 0;
  display: flex;
  width: 200%;
  height: 100%;
  z-index: 0;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.background span {
  width: 50%;
  height: 100%;
}
.background span:first-child {
  background-color: var(--dafault-color);
}
.background span:last-child {
  background-color: var(--hover-color);
} 
.frame:hover .background {
  transform: translateX(-50%);
}
.circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--hover-color);
  top: 50%;
  left: 15% ;
  transform: translate(-50%,-50%) ;
  z-index: 0;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) ;
}
.frame:hover .circle {
  left: 85%;
  background-color: var(--default-color);
  transform: translate(-50%, -50%) ;
}
.content {
  position: relative;
  z-index: 1;
  width: 200%;
  height: 100%;
  display: flex;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame:hover .content {
  transform: translateX(-50%);
} 