header {
  width: 100%;
  display: grid;
  grid-template-rows: 2;
  justify-content: center;
  align-items: center;   
  background-color: var(--body-color);
  padding: 10px 0;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;   
}
.logo > img {
  height: 60px;
}
.themeControl {
  display: flex;
  justify-content: center;
}