:root {
  --hue: 0;
  --sat: 0%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 1.1rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;
}
/*=============== Dark mode ===============*/
[data-theme = "dark"] {
  --body-color: black;
  --title-color: #CCC;
  --text-color: #CCC;
  --rgba-background-color: rgba(255,255,255,0.1);
  --rgba-shadow-color: rgba(255, 255, 255, 0.25);
}
/*=============== Light mode ===============*/
[data-theme = "light"] {
  --body-color: white;
  --title-color: hsl(var(--hue), var(--sat), 20%);;
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --rgba-background-color: rgba(0, 0, 0, 0.1);
  --rgba-shadow-color: rgba(0, 0 , 0, 0.25);
}
body {
  margin: 0;
  background-color: var(--body-color);
}
h1 {
  color: var(--title-color);
  font-size:xx-large;
  margin: 20px 0;
}
p {
  margin: 0;
}
section {
  margin-top: 20px;
}
button {
  border: none;
}
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--rgba-background-color);
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 10px var(--rgba-shadow-color);
}

.grid {
  display: grid;
  gap: 1.5rem;
}
a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #33ffff;
}

li {
    list-style: none;
}